<div id="Temperature"><%= @temperature %></div>
<div id="Humidity"><%= @humidity %></div>
<div id="LightIntensity"><%= @light_intensity %></div>
<div id="PulseRate"><%= @pulse_rate %></div>
<div id="NoiseLevel"><%= @noise_level %></div>
<div id="LightLevel"><%= @light_level %></div>
<div id="FanLevel"><%= @fan_level %></div>